<a href="https://colab.research.google.com/github/Xusen-19/IBM_Data_Science_Capstone_Project/blob/master/Capstone_project_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capstone Project Notebook

This project focuses on the application of data science techniques covered in the IBM Data Science Professional Certificate course wiht FourSquare API.

### By Xusen (Eason) Wang

Email: xusen@ualberta.ca \
Linked in: Xusen (Eason) Wang

### Data collection and preprocessing

In [5]:
pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.6/dist-packages (0.8.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from folium) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from folium) (1.12.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from folium) (1.18.5)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from folium) (2.11.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->folium) (1.1.1)

In [1]:
pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

In [2]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import sklearn as sk
import folium
from geopy.geocoders import GoogleV3

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#### Data summary

- Collect average housing price by neighborhood from [Toronto Open Data Base](https://open.toronto.ca)
- Collect neighborhood coordinates with Geocoder library
- Call Foursquare API for venues in the neighborhood
- Cartigorize the venues and match with respective neighborhood

In [3]:
housing_url = 'https://ckan0.cf.opendata.inter.prod-toronto.ca/download_resource/2fc77a12-fadc-447a-9ab9-1b170a508937'
housing= pd.read_excel(housing_url,"RawDataRef_2011")
housing

                         Neighbourhood  ...  Social Housing Waiting List
0               West Humber-Clairville  ...                          557
1    Mount Olive-Silverstone-Jamestown  ...                         1049
2         Thistletown-Beaumond Heights  ...                          270
3                      Rexdale-Kipling  ...                          186
4                     Elms-Old Rexdale  ...                          239
..                                 ...  ...                          ...
135                          West Hill  ...                          725
136                             Woburn  ...                         1306
137                      Eglinton East  ...                          688
138                Scarborough Village  ...                          683
139                          Guildwood  ...                           62

[140 rows x 11 columns]

In [4]:
housing.columns

Index(['Neighbourhood', 'Neighbourhood Id', 'Home Prices',
       'Mid-Century Highrise Households', 'Mid-Century Highrise Population',
       'Percent Mid-Century Highrise Households',
       'Percent Mid-Century Highrise Population', 'Rent Bank Applicants',
       'Social Housing Turnover', 'Social Housing Units',
       'Social Housing Waiting List'],
      dtype='object')

In [0]:
#creating new dataframe 
price=housing[['Neighbourhood','Home Prices']]

In [7]:
len(price)
price.loc[0,'Neighbourhood']

'West Humber-Clairville'

In [0]:
coor=[]
geolocator = geolocator = GoogleV3(api_key="AIzaSyDfe4zlHoSSKv0H6gqCMS0MX3d8c3j0RQ8")

In [21]:
from geopy.exc import GeocoderTimedOut
price['coordinates']=None
coor=[]
for i in range(len(price)):
    try:
        Neigh=price.loc[i,'Neighbourhood']
        query= Neigh
        results = geolocator.geocode(query)
        if results is None:
          loc=0
        else:
          loc=results[1]
        coor.append(loc)
    except GeocoderTimedOut:
        pass

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
price['coordinates']=coor

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
price.head()

                       Neighbourhood  Home Prices                coordinates
0             West Humber-Clairville       317508  (43.7356492, -79.6258435)
1  Mount Olive-Silverstone-Jamestown       251119  (43.7411486, -79.5892382)
2       Thistletown-Beaumond Heights       414216  (43.7429033, -79.5712672)
3                    Rexdale-Kipling       392271  (43.7198568, -79.5705997)
4                   Elms-Old Rexdale       233832  (43.7237117, -79.5488603)